<clr-main-container>
    <global-message [isAppLevel]="true"></global-message>
    <navigator (showDialogModalAction)="openModal($event)"></navigator>
    <search-result></search-result>
    <div class="login-wrapper" [ngStyle]="{'background-image': customLoginBgImg? 'url(/images/' + customLoginBgImg + ')': ''}">
        <form #signInForm="ngForm" class="login">
            <label class="title"> {{customAppTitle? customAppTitle:(appTitle | translate)}}
            </label>
            <div class="login-group">
                <div [class.visibility-hidden]="!isError" class="error active">
                    {{ 'SIGN_IN.INVALID_MSG' | translate }}
                </div>
                <button [disabled]="isOnGoing " type="submit" class="btn btn-primary" (click)="signIn()" id="log_in">{{ 'BUTTON.LOG_IN' | translate }}</button>
            </div>
            <div>
                <a href="https://github.com/goharbor/harbor" target="_blank" class="more-info-link">{{ 'BUTTON.MORE_INFO' | translate }}</a>
            </div>
        </form>
        <div *ngIf="appConfig.show_popular_repo" id="pop_repo" class="popular-repo-wrapper">
            <top-repo class="repo-container"></top-repo>
        </div>
    </div>
</clr-main-container>
<about-dialog></about-dialog>
